<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<typeAliases>
		<typeAlias type="com.fly.member.login.vo.LoginHistory" alias="loginHistory" />
		<typeAlias type="com.fly.member.login.vo.LoginVO" alias="login" />
		<typeAlias type="com.fly.member.join.vo.MemberVO" alias="member" />
		<typeAlias type="com.fly.member.place.vo.PlaceVO" alias="place"/>
	</typeAliases>
	<!-- <typeAliases>
		<typeAlias type="com.fly.client.calculate.vo.CalculateVO" alias="calculate"/>
		<typeAlias type="com.fly.client.items.vo.ItemsVO" alias="items"/>
		<typeAlias type="com.fly.client.place.vo.PlaceVO" alias="place"/>
		<typeAlias type="com.fly.client.stadium.vo.StadiumVO" alias="stadium"/>
		<typeAlias type="com.fly.client.stats.vo.StatsVO" alias="stats"/> 

		<typeAlias type="com.fly.client.place.vo.PlaceVO" alias="place"/>

		<typeAlias type="com.fly.member.login.vo.LoginHistory" alias="loginHistory" />
		<typeAlias type="com.fly.member.login.vo.LoginVO" alias="login" />
		<typeAlias type="com.fly.member.join.vo.MemberVO" alias="member" />

		<typeAlias type="com.fly.common.login.vo.LoginHistory" alias="loginHistory" />
		<typeAlias type="com.fly.common.login.vo.LoginVO" alias="login" />
		<typeAlias type="com.fly.common.member.vo.MemberVO" alias="member" />

	</typeAliases> -->

</configuration>