<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<typeAliases>
		<typeAlias type="com.fly.client.place.vo.PlaceVO" alias="place"/>
		<typeAlias type="com.fly.member.login.vo.LoginHistory" alias="loginHistory" />
		<typeAlias type="com.fly.member.login.vo.LoginVO" alias="login" />
		<typeAlias type="com.fly.member.join.vo.MemberVO" alias="member" />
	</typeAliases>
</configuration>