<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fly.admin.member.dao.AdminMemberDao">
	
	<select id="memberList" parameterType="HashMap" resultType="member">
		SELECT 
			m.m_id, m.m_name, m.m_type, m.m_status, to_char(m.m_regdate, 'yyyy-MM-dd') m_regdate, 
			(select to_char(lastsuccessedlogin, 'yyyy-MM-dd') 
			from login_history 
			where m_id = m.m_id) m_phone
     	FROM 
     		member m
     		
     	<where>
		<if test="status != 'null'">
		m.m_type = to_number(#{status})		
		</if>
		<if test="name != 'null'">
		m.m_name = #{name}
		</if>
		</where>
		
		ORDER BY 
			m.m_status desc, m.m_regdate desc
	</select>
	
	
</mapper>