<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fly.client.place.dao.ClientPlaceDao">

	<!-- 구장 리스트 -->
	<select id="placeList" resultType="place" parameterType="String">
		select p_name, p_num
		from place
		where m_id = #{m_id} and p_status = 1
		order by p_regdate asc
	</select>
	
	<!-- 경기장 리스트 -->
	<select id="stadiumList" resultType="stadium" parameterType="place">
		select s_name, s_no
		from stadium
		where p_num = #{p_num}
	</select>

	<!-- 대관 리스트 -->
	<select id="rentalList" resultType="rental" parameterType="int">
		select s.s_no, m.m_name, m.m_phone, (r.r_reserve_date + r.r_start + r.r_end), ir.r_no
		from stadium s, member m, rental r, items_rental ir
		where s.s_no = #{s_no} and r.r_no = ir.r_no;
	</select>

</mapper>