<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fly.member.itemsrental.dao.ItemsRentalDao">
	
	<insert id="itemsRentalInsert" parameterType="itemsrental">
		<selectKey keyProperty="ir_no" resultType="int" order="BEFORE">
			select items_rental_seq.nextval from dual
		</selectKey>
		INSERT INTO items_rental(
			ir_no,
			r_no,
			i_no,
			ir_return_status,
			ir_rental_ea
		)
		VALUES(
			#{ir_no},
			#{r_no},
			#{i_no},
			1,
			#{ir_rental_ea}
		)
	</insert>
	
	<select id="getItemsRentalList" parameterType="int" resultType="itemsrental">
		 SELECT i.ir_no, (select i_name from items where i_no = i.i_no) i_name, 
		 		i.ir_rental_ea, 
		 		( (select i_rental_fee from items where i_no = i.i_no) * i.ir_rental_ea ) i_rental_fee
		 FROM items_rental i
		 WHERE r_no = #{r_no}
	
	</select>
</mapper>