<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fly.member.itemsrental.dao.ItemsRentalDao">
	
	<insert id="itemsRentalInsert" parameterType="itemsrental">
		<selectKey keyProperty="ir_no" resultType="int" order="BEFORE">
			select items_rental_seq.nextval from dual
		</selectKey>
		INSERT INTO items_rental(
			ir_no,
			r_no,
			i_no,
			ir_return_status,
			ir_rental_ea
		)
		VALUES(
			#{ir_no},
			#{r_no},
			#{i_no},
			1,
			#{ir_rental_ea}
		)
	</insert>
	
	<select id="getItemsRentalList" parameterType="int" resultType="itemsrental">
		 SELECT ir.ir_no, i.i_name, ir.ir_rental_ea, i.i_rental_fee, ir.ir_return_status
         FROM items_Rental ir, items i
         WHERE ir.i_no = i.i_no and ir.r_no = #{r_no}
	
	</select>
	
	<update id="updateStatus" parameterType="itemsrental">
		UPDATE items_rental
		SET 
		<if test="ir_return_status == 1">
				ir_return_status = 2
		</if>
		<if test="ir_return_status == 2">
				ir_return_status = 1
		</if>
		WHERE ir_no = #{ir_no}
	</update>
	
	<update id="rentalUpdate" parameterType="rental" >
		UPDATE rental
			   SET 
			   	refund = #{refund},
			   	r_recall_time = sysdate,
			   	r_pay_status = -1
		WHERE r_no = #{r_no}	
	</update>
</mapper>