<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fly.common.login.dao.LoginDAO">
	
	<select id="userIdSelect" parameterType="String" resultType="login">
		select 
			m_id,
			m_pw,
			m_name
		from member
		where m_id = #{m_id}
	</select>
	
	<!-- 로그인 처리 쿼리 -->
	<select id="loginSelect" parameterType="String" resultType="login">
		select 
			m_id,
			m_pw,
			m_name
		from member
		where m_id = #{m_id} and m_pw = #{m_pw}
	</select>
 	
 	<insert id="loginHistoryInsert" parameterType="login">
 		insert into login_history(
 			m_id, retry, lastFail, lastPass, clientIp)
 			values(
 				#{m_id}, #{retry, jdbcType = INTEGER},
 				#{lastFail, jdbcType = INTEGER},
 				#{lastPass, jdbcType = INTEGER},
 				#{clientIp, jdbcType = VARCHAR}
 				)
 	</insert>
 	
 	<update id="loginHistoryUpdate" parameterType="login">
 		update login_history
 		set retry = #{retry},
 			lastFail = #{lastFail},
 			lastPass = #{lastPass},
 			clientIp = #{clientIp, jdbcType = VARCHAR}
 			where m_id = #{m_id}
 	</update>
 	
 	
 	<select id="loginHistorySelect" parameterType="String" resultType="login">
 		select 
 			m_id,
 			retry,
 			lastFail,
 			lastPass,
 			clientIp
 		from login_history
 		where m_id = #{m_id}	
 	</select>
</mapper>