<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fly.user.place.dao.PlaceDao">

	<select id="searchPlaceList" parameterType="String" resultType="place">
		select p_num, p_name, p_address, p_phone, p_open, p_close
		from place
		where p_status = 1
			<if test="area != 'null'">
				and p_address LIKE '%'|| #{area} ||'%'
			</if>
	</select>

</mapper>