<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fly.user.stadium.dao.UserStadiumDao">

	<select id="stadiumList" parameterType="String" resultType="stadium">
		SELECT 
			s_no, s_name, s_size, s_d_fee, s_n_fee, s_d_fee_w, s_n_fee_w, 
			s_img1, s_img2, s_img3, s_hours
		FROM
			stadium
		WHERE
			s_status = 0 and p_num = #{ p_num }
	</select>
	
</mapper>